<div id="todo-card" class="card card-compact mb-3 bg-base-100 shadow-md">
  <div class="card-body">
    <div class="card-title">
      <form
        hx-post="{{ request.url_for('todo_remove') }}"
        hx-swap="innerHTML"
        hx-target="#todo-card-list"
        hx-select="#todo-card"
        hx-encoding="multipart/form-data"
        class="w-full"
      >
        <div class="w-11/12 float-left">
          {{ item.value }}
        </div>
        <button class="w-1/12 float-right" type="submit">
          <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
        <input name="item_id" type="hidden" value="{{ item.id }}"/>
      </form>
    </div>
  </div>
</div>
